.job-posting-form {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.error {
  font-size: 12px;
  color: red;
  margin-top: 4px;
  display: block;
}

input:invalid {
  border-color: red;
}
