<h1>{{ appTitle() }}</h1>

<job-search-input
  (searchChanged)="onSearch($event)"
  placeholder="Search your dream job"
></job-search-input>
@if(searchTerm().length > 0) {
  Results for: "{{searchTerm()}}" {{foundJobsString()}}
} @else if (searchTerm().length > 0 && filteredJobs().length === 0) {
  No Jobs found
} @else if (searchTerm().length === 0) {
  All Jobs
}

<app-job-posting-form (jobSubmitted)="onJobSubmitted($event)"></app-job-posting-form>

<job-stats
  [selectedIndustry]="selectedIndustry()"
  [statsFoundJobString]="statsFoundJobsString()"
></job-stats>


@if (jobService.loading()) {
  <p>Loading Jobs</p>
}

@if (jobService.error()) {
  <p>Error loading jobs: {{ jobService.error() }}</p>
}

@if (!jobService.loading() && jobService.jobs().length > 0) {
  <job-list [jobs]="filteredJobs()"></job-list>
}

@if (!jobService.loading() && jobService.jobs().length === 0) {
  <p>No Jobs available</p>
}


<h3>Companies:</h3>

@if (companyService.loading()) {
  <p>Loading Companies...</p>
}

@if (companyService.error()) {
  <p>Error Loading Companies: {{ companyService.error() }}</p>
}

@if (!companyService.loading() && companyService.companies().length > 0) {

  @for(company of companiesSignal(); track $index) {
    <company-card
      [companyName]="company.companyName"
      [industry]="company.industry"
      [employeeCount]="company.employeeCount"
    ></company-card>
  }

}

@if (!companyService.loading() && companyService.companies().length === 0) {
  <p>No Companies available</p>
}
