<div class="job-list-header">
  <h3>All Jobs</h3>
  <div class="job-list-header__buttons">
    <a routerLink="/jobs" [queryParams]="{ sort: 'title' }">
      {{ sortBy() === 'title' ? '✓' : '' }} Sort by Title
    </a>
    <a routerLink="/salary" [queryParams]="{ sort: 'salary' }">
      {{ sortBy() === 'salary' ? '✓' : '' }} Sort by Salary
    </a>
  </div>
</div>


@for (job of jobs(); track job.id) {
  <job-card
    [jobId]="job.id"
    [jobTitle]="job.title"
    [company]="job.company"
    [industry]="job.industry"
    [salary]="job.salary"
    [isDeleting]="isDeleting()"
    (deleteJob)="onJobDeleted(job.id)"
  >
  </job-card>
}
